<ActionBar title="PartyCalc" class="page-title"></ActionBar>
<FlexboxLayout flexDirection="column">
    <StackLayout>
         <TextView class="input contributor-top-item" hint="Введите имя участника" [(ngModel)]="newContributorName"></TextView>
         <FlexboxLayout class="contributor-top-item" width="100%" flexDirection="row" justifyContent="center">
            <pc-button (onTap)="addContributor()" [label]="'ДОБАВИТЬ'"></pc-button>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row" class="contributor-top-item" width="100%">
            <Label text="КУПИЛ"></Label>
            <Label text="СЪЕЛ"></Label>
        </FlexboxLayout>
    </StackLayout>
</FlexboxLayout>