* {
    font-size: 14;
    color: black;
}

.link {
    text-decoration: underline;
}

.page-title {
    width: 100%;
    height: 50px;
    background-color: #507299;
    text-align: center;    
    color: white;
    font-size: 24px;
}