<ActionBar title="PartyCalc" class="page-title"></ActionBar>
<FlexboxLayout flexDirection="column">
    <FlexboxLayout height="100%" flexDirection="column" justifyContent="center">
        <TextView *ngIf="!shownSavedData" class="input home-item" hint="Введите Ваше имя" [(ngModel)]="userName"></TextView>
        <FlexboxLayout *ngIf="shownSavedData" class="home-item" width="100%" flexDirection="row" justifyContent="center">
            <Label text="Сейчас Вы используете имя "></Label>
            <Label class="link" text="{{currentUser.name}}"></Label>
        </FlexboxLayout>

        <FlexboxLayout class="home-item" width="100%" flexDirection="row" justifyContent="center">
            <pc-button (onTap)="continue()" [label]="'ПРОДОЛЖИТЬ'"></pc-button>
        </FlexboxLayout>

        <FlexboxLayout *ngIf="!shownSavedData" class="home-item" width="100%" flexDirection="row" justifyContent="center">
            <Label text="Вы можете добавить свой аккаунт "></Label>
            <Label class="link" text="вконтакте"></Label>
        </FlexboxLayout>
        <FlexboxLayout *ngIf="shownSavedData" class="home-item" width="100%" flexDirection="row" justifyContent="center">
            <Label (tap)="setCurrentUser(null)" class="link" text="Использовать другое имя"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</FlexboxLayout>